.banner {
  height: 15vh;
  margin-top: 50px;
  width: 100%;
  background-color: #0e0e1c;
  color: #ffffff;
  padding: 10px;
  text-align: center;
  z-index: 1000;
  box-shadow: 1px 0px 28px -11px rgb(36, 184, 235);
  position: relative;
}

.button {
  margin-left: 20px;
  margin-top: 10px;
  padding: 5px 10px;
  border-radius: 10px;
  background-color: #dd3676;
  color: #fff;
  border: none;
  cursor: pointer;
  width: 300px;
}

.link {
  text-decoration: underline;
}

.link_container {
  text-decoration: underline;
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 10px;
}

@media only screen and (max-width: 768px) {
  .banner {
    height: fit-content;
  }

  .button {
    margin-top: 12px;
    height: 50px;
  }
}
