.custom_loader {
  width: 300px;
  height: 300px;
  display: grid;
  border: 8px solid #0000;
  border-radius: 50%;
  border-color: #e058c7 #0000;
  animation: s6 2s infinite linear;
  margin-top: 50px;
}
.custom_loader::before,
.custom_loader::after {
  content: "";
  grid-area: 1/1;
  margin: 4px;
  border: inherit;
  border-radius: 50%;
}
.custom_loader::before {
  border-color: #dd3676 #0000;
  animation: inherit;
  animation-duration: 1s;
  animation-direction: reverse;
}
.custom_loader::after {
  margin: 16px;
}

@keyframes s6 {
  100% {
    transform: rotate(1turn);
  }
}

@media only screen and (max-width: 768px) {
  .custom_loader {
    width: 200px;
    height: 200px;
    margin-top: 100px;
  }
}
